* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aqua;
}

h1 {
    text-align: center;
    margin-top: 2rem;
}

h2 {
    text-align: center;
    margin-top: 2rem;
}

.hint {
    display: flex;
    justify-self: center;
    margin-top: 1rem;
}

.hintBtn {
    padding: 1rem;
    background-color: black;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
}

.hintBtn:hover {
    cursor: pointer;
}

.btn-container {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-self: center;
    margin-top: 2rem;

}

.btn {
    height: 150px;
    width: 150px;
    border: 8px solid black;
    border-radius: 1rem;
    
}

.btn:hover {
    cursor: pointer;
}

.red {
    background-color: rgb(209, 91, 91);
}

.green {
    background-color: rgb(24, 125, 24);
}

.yellow{
    background-color: rgb(213, 213, 45);
}

.blue {
    background-color: rgb(70, 70, 163);
}

.flash {
    background-color: white;
}